<script type="text/javascript" src="/assets/js/shuffle.js"></script>
<script type="text/javascript" src="/assets/js/shuffle-demo.js"></script>
<link rel="stylesheet" href="/assets/css/shuffle.css">

<div class="shuffle-container">
  <div class="shuffle-nav-container" style="border-right: #B61339 dashed;">

    <div class="filters-group">
      <label for="filters-search-input" class="filter-label">Search</label>
      <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input"/>
    </div>
    <div class="filters-group">
      <p class="filter-label">Filter</p>
      <div class="btn-group filter-options">
        <p><b>Level</b></p>
        {% for level in collections.lessons | distinct('level') %}
          <input type="checkbox" data-group="{{ level }}" value="{{ level }}">
          <label for="{{ level }}">{{ level }}</label><br>
        {% endfor %}

        <p><b>Practice</b></p>
        {% for practice in collections.lessons | distinct('practice') %}
          <input type="checkbox" data-group="{{ practice }}" value="{{ practice }}">
          <label for="{{ practice }}">{{ practice }}</label><br>
        {% endfor %}

        <p><b>Learning outcomes</b></p>
        {% for learning_outcome in collections.lessons | distinct('learning_outcome') %}
          <input type="checkbox" data-group="{{ learning_outcome }}" value="{{ learning_outcome }}">
          <label for="{{ learning_outcome }}">{{ learning_outcome }}</label><br>
        {% endfor %}

      </div>
    </div>
  </div>

  <div id="grid" class="my-shuffle-container">
    {%- for lesson in collections.lessons -%}
      <figure onclick="window.location.href='{{ lesson.url }}';" class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='[{% for level in lesson.data.level%}"{{ level }}",{% endfor %}{% for practice in lesson.data.practice%}"{{ practice }}",{% endfor %}{% for learning_outcome in lesson.data.learning_outcome%}{% if loop.last %}"{{ learning_outcome }}"{% else %}"{{ learning_outcome }}",{% endif %}{% endfor %}]' data-title="{{ lesson.data.lesson|slugify}}">
        <div class="picture-item__inner">
          <div class="aspect aspect--16x9">
            <div class="aspect__inner">
              <img src="{{ lesson.data.thumbnail}}"
              alt="{{ lesson.data.lesson }}"/>
            </div>
          </div>
          <div class="picture-item__details container">
            <figcaption class="picture-item__title">
              <a rel="noopener">{{ lesson.data.lesson }}</a>
            </figcaption>
            {# <p class="picture-item__tags hidden@xs">space</p> #}
          </div>
          <div class="picture-item__description">
          
          </div>
        </div>
      </figure>
    {%- endfor -%}

    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</div>

</div>