---
title: Index
---

<div class="container">
    <div>
    <h1>Index</h1>
    <p>Here you can find a list of all the lessons available on the site, organized by topic.</p>

 {% for cat in collections.lessons | makeIndex %}
      
        {% for key, items in cat | dictsort %}
        <h4>{{ key }}</h4><br>
            {% for subkey, subitems in items %}
            <h5>{{ subkey }} </h5>
                {% for item in subitems %}
                <a href="{{ item }}">{{ item }}</a><br>
                {% endfor %}
            {% endfor %}
          
        {% endfor %}
   {% endfor %}   
</div>
</div>