---
pagination:
    data: en_items
    size: 1
    alias: item
permalink: "/en/items/{{ item.title | slugify }}/index.html"
---

<a href="/en/lessons/{{ item.lesson | slug }}">{{ item.lesson }}</a>
<h1>{{ item.title }}</h1>