---
title: Lessons
---

{% block head %}
    <script type="text/javascript" src="/assets/js/shuffle.js"></script>
    <script type="text/javascript" src="/assets/js/shuffle-demo.js"></script>

    <link rel="stylesheet" href="/assets/css/shuffle.css">
{% endblock %}

{% block content %}


    <div class="container" data-pagefind-ignore>
        <div>
            <h2>Lessons</h2>
            
        </div>

    </div>

    <div><p style="margin-left:10vw; margin-right:10vw">
    Searching through our media collection, users may choose to scroll through the various media clips, or may choose to click on the filter categories to help narrow their search. This is most useful for those looking to browse learning materials by level, learning goal, or or preferred media. If there isn’t something specific you’re looking for, this may be the browsing option for you. 
    </p>
    </div>

    <div class="shuffle-container" data-pagefind-ignore>

        <div class="shuffle-nav-container" style="border-right: #B61339 dashed;">
    <div class="filters-group">
      <label for="filters-search-input" class="filter-label">Search</label>
      <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input"/>
    </div>
    <div class="filters-group">
      <p class="filter-label">Filter</p>
      <div class="btn-group filter-options">
        <p><b>Level</b></p>
        {% set distinct_levels = [] %}
        {% for lesson in collections.lessons %}
            {% if lesson.data.level and lesson.data.level not in distinct_levels %}
            {% set distinct_levels = (distinct_levels.push(lesson.data.level), distinct_levels) %}
            {% endif %}
        {% endfor %}

        {% for level in distinct_levels|sort %}
          <input type="checkbox" data-group="{{ level }}" value="{{ level }}">
          <label for="{{ level }}">{{ level }}</label><br>
        {% endfor %}

        <p><b>Practice</b></p>
        <input type="checkbox" data-group="Vocabulary" value="Vocabulary">
        <label for="Grammar">Vocabulary</label><br>
        <input type="checkbox" data-group="Grammar" value="Grammar">
        <label for="Grammar">Grammar</label><br>
        <input type="checkbox" data-group="Culture" value="Culture">
        <label for="Grammar">Culture</label><br>

        {% set distinct_media = [] %}
        {% for lesson in collections.lessons %}
            {% if lesson.data.media and lesson.data.media not in distinct_media %}
            {% set distinct_media = (distinct_media.push(lesson.data.media), distinct_media) %}
            {% endif %}
        {% endfor %}
        <p><b>Media</b></p>
        {% for media in distinct_media|sort %}
          <input type="checkbox" data-group="{{ media }}" value="{{ media }}">
          <label for="{{ media }}">{{ media }}</label><br>
        {% endfor %}

      </div>
    </div>
  </div>

<div id="grid" class="my-shuffle-container" data-pagefind-ignore>
    {%- for lesson in collections.lessons -%}
      {% set all_values = [] %}
      {% set grammar = [] %}
      {% set culture = [] %}
      {% set vocab = [] %}
      {% if lesson.data.level%}{% set all_values = (all_values.push(lesson.data.level), all_values) %}{% endif%}
      {% if lesson.data.practice %} 
        {% for item in lesson.data.practice %}
          {% for key, value in item %} 
            {% if key == 'Grammar' %}
              {% set grammar = (grammar.push(value), grammar) %}
              {% set all_values = (all_values.push(key), all_values) %}
            {% endif %}
            {% if key == 'Culture' %}
              {% set culture = (culture.push(value), culture) %}
              {% set all_values = (all_values.push(key), all_values) %}
            {% endif %}
            {% if key == 'Vocabulary' %}
              {% set vocab = (vocab.push(value), vocab) %}
              {% set all_values = (all_values.push(key), all_values) %}
            {% else %}
              {% set all_values = (all_values.push(key+'-'+value), all_values) %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
      
        
      {% if lesson.data.vocab%}{% for vocab in lesson.data.vocab%}{% set all_values = (all_values.push(vocab), all_values) %}{% endfor %}{% endif%}
      {% if lesson.data.media%}{% set all_values = (all_values.push(lesson.data.media), all_values) %}{% endif%}
      <figure onclick="window.location.href='{{ lesson.url }}';" class="col-5@xs col-5@sm col-4@md picture-item picture-item--h2" data-groups='[{% if all_values %}{% for value in all_values %}{% if loop.last %}"{{ value }}"{% else %}"{{ value }}",{% endif %}{% endfor %}{% endif%}]' data-title="{{ lesson.data.lesson }}" data-grammar="{{ grammar }}" data-vocab="{{ vocab }}" data-culture="{{ culture }}">
        <div class="picture-item__inner">
          <div class="aspect aspect--16x9">
            <div class="aspect__inner">
              <img src="{{ lesson.data.thumbnail}}"
              alt="{{ lesson.data.title }}"/>
            </div>
          </div>
          <div class="picture-item__details container">
           
            {# <p class="picture-item__tags hidden@xs">space</p> #}
          </div>
          <div class="picture-item__description picture-item__title">
            <b><a class="picture-item__title" rel="noopener">{{ lesson.data.clip_name }}</a></b><br><hr>            
            {% set comma = joiner() %}
            <i>{% for value in all_values%}
            {{ comma() }}
            {{ value | trim }}
            {% endfor %}</i>
          </div>
        </div>
      </figure>
    {%- endfor -%}

    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</div>


{% endblock %}

{% block js %}

{% endblock %}