<div class="container">
  <div id="myBtn" style="z-index: 10; position: absolute; right: 0;"><img style="width: 70%" src="/assets/img/information.png" /></div>
<h1> Lesson Index</h1>

</div>
<div class="container-top">
        <div>
        <p><b>Level</b></p>
        {% for level in collections.lessons | distinct('level') %}
          
          <label for="{{ level }}">{{ level }}</label><br>
        {% endfor %}
        </div>
        <div>
        <p><b>Practice</b></p>
        {% for practice in collections.lessons | distinct('practice') %}
          
          <label for="{{ practice }}">{{ practice }}</label><br>
        {% endfor %}
         </div>
        <div>
        <p><b>Learning outcomes</b></p>
        {% for learning_outcome in collections.lessons | distinct('learning_outcome') %}
          
          <label for="{{ learning_outcome }}">{{ learning_outcome }}</label><br>
        {% endfor %}
         </div>
</div>
<div id="myModal" class="modal">
<div style="background-color: #B61339; color:white;"class="modal-content">
    <span class="close">&times;</span>
    <p>Lesson Index</p>
    <p>The index works as a book index would and is designed for users who are interested in a very specific grammar rule they would like to practice. The goal of the index is for teachers and learners to be able to directly locate materials that are organized by grammatical practice categories. </p>
</p>
  </div>

<script>
  //Modal https://www.w3schools.com/howto/howto_css_modals.asp
  // Get the modal
let modal = document.getElementById("myModal");

// Get the button that opens the modal
let btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
let span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 
</script>