---
pagination:
    data: it_items.items
    size: 1
    alias: item
permalink: "/it/elementi/{{ item.title | slugify }}/index.html"
---

<span>< <a class="breadcrumb" href="../../../it/lezioni/{{ item.lezione | slug }}">
        Indietro</a></span>
                <div>
                    <h1 class="clip-title">{{ item.title }}</h1>
                </div>
           
           <div class="container"> 


                <div>
                    
                    {% if item.pdf_file %}
                    <button target="_blank" onclick="window.location.href='{{ item.pdf_file }}';">
                        Scarica come pdf
                    </button>
                    {% endif %}
                    {% if item.doc_file %}
                    <button target="_blank" onclick="window.location.href='{{ item.doc_file }}';">
                        Scarica come docx
                    </button>
                    {% endif %}
                    {% if item.solution %}
                    <button target="_blank" onclick="window.location.href='{{ item.solution }}';">
                        Scarica la soluzione
                    </button>
                    {% endif %}
                    {% if item.description %}
                    <p>{{ item.description | markdownify |safe }}</p>
                    {% endif %}
                </div>  
                
                <div class="description" style="background:#F9FCF3; padding: 10px;">
                    <h3>MEDIA</h3>
                    {% for lesson in it_items.items %}
                        {% if lesson.title == item.title %}    
                            <div style="border: solid var(--prima-red); padding:20px"> 
                            <b><a href="/it/lezioni/{{ lesson.lezione | slugify }}/">{{ item.lezione }}</a></b>
                            <br>
                            
                            {# TODO, this is causing  Cannot read properties of undefined (reading 'data') (via Template render error) #}
                            {# <img width="20%" src="{{ collections.lezioni | thumbnail(item.lezione) }}"
                            alt="{{ item.lezione }}"/> #}
                            
                            
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>
