---
layout: base.njk
title: Prima
---

{% block head %}
<style>
       .flex-item{
          width:98vw;
          margin-left:1vw;
          margin-right:1vw;
          background-color:rgba(182, 19, 57,0.8);
          color:white;
          font-size:1.2em;
        }

        .container-body{
          position:absolute;
          bottom:30vh;
          left:0em;
          width:100vw;
/*          height:50vh;
*/          display: flex;
          align-items: center;
        }

        ::placeholder {
          color: black;
          opacity: 1;
        }
        #background-video {
          width: 100vw !important;
          max-height: 65vh;
          object-fit: cover;
/*          position: fixed;
*/          left: 0;
          right: 0;
          top: 0;
          margin-left: -70px;
          margin-right: -70px;
          margin-top: -70px;
          z-index: -1;
        }

        p{
          padding:2em;
        }

        @media (max-width: 750px) {
          #background-video {
/*            display: none;
*/            visibility:hidden;
          }
/*          body {
            background: url("/assets/img/main.jpg") no-repeat;
            background-size: cover;
          }*/
        }
      </style>
      {% endblock %}
    
{% block content %}
<video id="background-video" width="100%" autoplay muted poster="/assets/media/background-default.gif">
            <source src="" type="video/mp4">
          </video>
      <div class="container">

        <div class="container-body">
          
          <div class="flex-item">
            
            <p>PRIMA è una risorsa educativa aperta interattiva progettata per l'apprendimento e l'istruzione della lingua italiana attraverso clip multimediali ricercabili, narrazioni brevi, e risorse pedagogiche.</p>
            
          </div>
          
             
      </div>
        
    </div>
    
        

{% endblock %}

{% block js %}
<script>
    //Modal https://www.w3schools.com/howto/howto_css_modals.asp
    // Get the modal
    let modal = document.getElementById("myModal");

    // Get the button that opens the modal
    let btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    let videos = ['/assets/video/eclisse.mov','/assets/video/short_clips_kids.mp4','/assets/video/short_clips_kuwornu.mp4','/assets/video/short_clips_rappresentante.mp4']
    let backgroundDiv = document.getElementById('background-video')    
    // play each of the videos in the array, when one video is over, move to the next
    function playVideo(p) {
      let i = Math.floor(Math.random() * videos.length)
      if (i == p) {
        i = (i + 1) % videos.length
      }
      backgroundDiv.src = videos[i]
      backgroundDiv.onended = function () {
        playVideo(i)
      }
    }
    playVideo(0)
        
  


  </script>
{% endblock %}

