<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% if page.lang == "en" %}
    <title data-pagefind-meta="title">{{lesson}}</title>
    {% endif %}
    {% if page.lang == "it" %}
    <title data-pagefind-meta="title">{{ lezione }}</title>
    {% endif %}
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

   
    <body data-pagefind-body>
      {% include "./navbar.html" %}
      <main>
        {% block content %}{% endblock %}
        {{ content | safe }}
      </main>
      {% include "./footer.html" %}

      {% if path == "home" %}
        <!-- Netlify Identity Widget -->
        <!-- Needed only if you are using Netlify Identity feature -->
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      {% endif %}

      

    </body>
  </html>