<footer class="container" style="justify-content:space-evenly" data-pagefind-ignore>
    <div>
        {% if page.lang == 'en' %}
        <a href="https://creativecommons.org/licenses/by/4.0/deed.en">© CC License 2023</a>
        {% else %}
        <a href="https://creativecommons.org/licenses/by/4.0/deed.it">© Attribuzione 4.0 Internazionale (CC BY 4.0)</a>
        {% endif %}
    </div>
    <div>
        <p>DOI https://doi.org/10.58117/qs9n-zx15</p>
    </div>
    <div>
        <img height="40" src="/assets/img/penn_libraries_logo.png" />
    </div>
    <div>
        <a href="https://sachsarts.org/"><img height="50" src="/assets/img/sachs-logo.png" /></a>
    </div>
</footer>