<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title data-pagefind-meta="title">{{title}}</title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- Pagefind for search  -->
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
  
    <script src="/_pagefind/pagefind-ui.js"></script>
    <script src="/assets//js/search.js"></script>
    
    <body data-pagefind-body>
      {% include "./navbar.html" %}
      <style>
        .button {
          margin-left:auto;
          margin-right:auto;
          margin-bottom:2em;
          background-color: #B61339;
          padding: 10px;
          color: #FFFFFF;
          font-weight: bold;
          display:block;
          width:max-content;
          cursor:pointer;
        }
        .button1 {
          z-index: 10;
          background-color: #B61339;
          padding: 10px;
          margin:10px;
          color: #FFFFFF;
          font-weight: bold;
        }
        .button2 {
          z-index: 10;
          background-color: #B61339;
          padding: 10px;
          margin:10px;
          color: #FFFFFF;
          font-weight: bold;
        }
        .search-button {
          z-index: 10;
          background-color: #D9D9D9;
          color: black;
          padding: 10px;
          color: #FFFFFF;
          font-weight: bold;
        }
        .container-body{
          position:absolute;
          top:30vh;
          left:2em;
          width:100vw;
/*          height:50vh;
*/          display: flex;
          align-items: center;
        }
        .modal {
          z-index:20;
        }
        ::placeholder {
          color: black;
          opacity: 1;
        }
        #background-video {
          width: 100vw;
          max-height: 60vh;
          object-fit: cover;
/*          position: fixed;
*/          left: 0;
          right: 0;
          top: 0;
          
          z-index: -1;
        }

        p{
          padding:2em;
        }

        @media (max-width: 750px) {
          #background-video {
/*            display: none;
*/            visibility:hidden;
          }
/*          body {
            background: url("/assets/img/main.jpg") no-repeat;
            background-size: cover;
          }*/
        }
      </style>
      <video id="background-video" width="100%" autoplay muted poster="/assets/media/background-default.gif">
            <source src="" type="video/mp4">
          </video>
      <div class="container">

        <div class="container-body">
          
          <div class="flex-item">
            {% if page.lang == "it" %}
            <a href="/it/esplora-le-categorie/">
              <p class="button1">Visualizza le lezioni</p>
            </a>
            {% else%}
            <a href="/en/lesson-index">
              <p class="button1">View Lessons</p>
            </a>
            {% endif %}
          </div>
          <div class="flex-item">
            {% if page.lang == "it" %}
            <a href="/it/sfoglia-i-media/">
              <p class="button2">Visualizza tutti i media</p>
            </a>
            {% else%}
            <a href="/en/browse-media">
              <p class="button2">Browse All Media</p>
            </a>
            {% endif %}
          </div>
          <div class="flex-item">
            {% if page.lang == "it" %}
            <div id="search" class="search-button search"></div>
            {% else%}
            <div id="search" class="search-button search"></div>
            {% endif %}
            </div>        
      </div>
        
    </div>
    
          
    <div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
			<header class="modal__header">
				<h2 class="modal__title" id="modal-2-title">
					Search
				</h2>
			</header>
			<main class="modal__content" id="modal-2-content">
				<div id="search"></div>
			</main>
			<footer class="modal__footer">
					<button class="modal__btn modal__btn-primary" data-micromodal-close="" aria-label="Close this dialog window">Close</button>
			</footer>
		</div>
	</div>
</div>

    <div id="myModal" class="modal">
      <div style="z-index: auto; background-color: #B61339; color:white;"class="modal-content">
        
        {% if page.lang == "it" %}
        <span class="close">&times;</span>
        <p>Come utilizzare questo sito</p>
        <p>PRIMA (Repository pedagogico delle attività mediatiche italiane) è uno strumento per l'apprendimento delle lingue pensato per integrare altri libri di grammatica e risorse progettate per l'apprendimento della lingua italiana. Le attività su questo sito promuovono l'apprendimento attraverso l'impegno con i media italiani autentici e abbracciano tutti i livelli, dal principiante all'avanzato. Le attività spaziano da argomenti grammaticali, lettura e comprensione orale, vocabolario e cultura. È possibile accedere ai file multimediali e ai fogli di lavoro associati da qualsiasi dispositivo con una connessione Internet e possono essere scaricati e modificati in base all'uso previsto. Sono disponibili chiavi di risposta, didascalie e trascrizioni di accompagnamento progettate per soddisfare le esigenze specifiche di ciascun utente.</p>
        <p>Utilizzando le attività del nostro archivio, gli istruttori aiutano gli studenti a colmare le lacune in cui il curriculum spesso non è all'altezza in termini di cultura popolare e altre materie contemporanee. Attraverso PRIMA, gli studenti sono esposti agli italiani di colore, agli italiani queer e a quelli appartenenti a comunità non tradizionali o minoritarie, offrendo agli studenti una prospettiva più ampia e accurata dell'Italia contemporanea che riflette la vivacità del paese e celebra i risultati di TUTTI gli italiani.</p>
        <p>Hai un'attività basata sui media che vorresti fosse presente su PRIMA? Ti invitiamo a scriverci a: <a href="mailto:prima.contact.us@gmail.com">prima.contact.us@gmail.com</a></p>
        {% else %}
        <span class="close">&times;</span>
        <p>How to use this site</p>
        <p>PRIMA (Pedagogical Repository of Italian Media Activities) is a language learning tool meant to supplement other grammar books and resources designed for Italian language learning. The activities on this site promote learning through engagement with authentic Italian media and span all levels from beginner to advanced. The activities range in focus from grammatical topics, reading and listening comprehension, vocabulary, and culture. The media files and accompanying worksheets can be accessed from any device with an Internet connection, and may be downloaded and modified according to their intended use. There are accompanying answer keys, captions, and transcripts designed to cater to the specific needs of each user.</p>
        <p>By using activities from our repository, instructors are helping students to fill in the gaps where the curriculum often falls short in terms of popular culture and other contemporary subjects. Through PRIMA, students are exposed to Italians of color, queer Italians, and those belonging to non-traditional or minority communities, giving students a broader and more accurate perspective of contemporary Italy that reflects the country’s vibrancy and celebrates the achievements of ALL Italians.</p>
        <p>Do you have a media-based activity that you would like to have featured on PRIMA? We invite you to write us at: <a href="mailto:prima.contact.us@gmail.com">prima.contact.us@gmail.com </a></p>
        {% endif %}
    </div>
  </div>
  {% if page.lang == "it" %}
<p>PRIMA è una risorsa educativa aperta interattiva progettata per l'apprendimento e l'istruzione della lingua italiana attraverso clip multimediali ricercabili, narrazioni brevi, e risorse pedagogiche.</p>
  {% else %}
<p>PRIMA is an interactive Open Educational Resource designed for Italian language learning and instruction through searchable media clips, short narratives, and pedagogical resources.</p>
  {% endif %}

{% if page.lang == "it" %}
<a class="button" id="myBtn">
              Informazioni sul sito
            </a>
{% else %}
<a class="button" id="myBtn">
              About the Site
            </a>
{% endif %}

  {% include "./footer.html" %}
  <script>
    //Modal https://www.w3schools.com/howto/howto_css_modals.asp
    // Get the modal
    let modal = document.getElementById("myModal");

    // Get the button that opens the modal
    let btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    let videos = ['https://upenn.box.com/shared/static/mhjl2otskjgojjg57erlvmcb4kw0m6wc.mov', 'https://upenn.box.com/shared/static/gx6csjn4k10wts3qxxhdigybzqsugsoe.mp4', 'https://upenn.box.com/shared/static/x5oz55op4uu2op4yfa43eu6hqq5bzwfp.mp4', 'https://upenn.box.com/shared/static/rxao6lrqn0dbtp53v3bgrep5jm766gn8.mp4', 'https://upenn.box.com/shared/static/op3imal0lof5p9psw57i4a00wji5hxod.mp4','https://upenn.box.com/shared/static/1nl63jl9067j15pdx43gv8c3pop5whcr.mp4']
    let backgroundDiv = document.getElementById('background-video')    
    // play each of the videos in the array, when one video is over, move to the next
    function playVideo(i) {
      backgroundDiv.src = videos[i]
      backgroundDiv.onended = function () {
        playVideo((i + 1))
      }
    }
    playVideo(0)
        
  


  </script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showImages: true, resetStyles: false, showResults: true, showResultCount: true });
    });
    
</script>
</body>
<html>