{% extends "base.njk" %}

{% block content %}
    <a href="{{ "/browse-media/" | locale_url }}">
        < back</a>

           <div class="container"> 
               <div>
                    <h1>{{ lesson }}</h1>
                </div>
            
                
                <div>
                    {% if video %}
                        <video controls>
                            <source src="{{ video }}" type="video/mp4">
                        </video>
                    {% else %}
                        <img height="50%" src="{{ thumbnail }}"/>
                    {% endif %}
                </div>
            </div>

           
                
        {% endblock %}