---
layout: base.njk
---

{% if page.lang == 'it' %}
<a class="breadcrumb" href="{{ "/lezioni/" | locale_url }}">
{% else %}
<a class="breadcrumb" href="{{ "/lessons/" | locale_url }}">
{% endif %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
  </svg>
  {% if page.lang == 'it' %}Indietro{% else %}Back{% endif %}
  </a>
<h3 class="lesson-title">{{ clip_name }}</h3>


<div class="container lesson-metadata-box" style="row-gap:20px">
  <div id="left-box">
  <div>
    {% if video %}

    {{ citation_information  | markdownify | safe }}
    {% endif %}
    </div>

    <div class="container" style="justify-content:center">
{% if lesson_pdf %}

  <button class="button meta-button" target="_blank" onclick="window.location.href='{{ lesson_pdf }}';">
                        Download as pdf
                    </button>

{% endif %}

{% if lesson_doc %}
  <button class="button meta-button" target="_blank" onclick="window.location.href='{{ lesson_doc }}';">
                        Download as docx
                    </button>
{% endif %}

{% if transcript_doc %}
  <button class="button meta-button" target="_blank" onclick="window.location.href='{{ transcript_doc }}';">
                        Transcription as docx
                    </button>
{% endif %}
  
{% if transcript_pdf %}
  <button class="button meta-button" target="_blank" onclick="window.location.href='{{ transcript_pdf }}';">
                        Transcription as pdf
                    </button>
{% endif %}

{% if solution_doc %}
  <button class="button meta-button" target="_blank" onclick="window.location.href='{{ solution_doc }}';">
                        Solution as docx
                    </button>
{% endif %}
  
{% if solution_pdf %}
  <button class="button meta-button" target="_blank" onclick="window.location.href='{{ solution_pdf }}';">
                        Solution as pdf
                    </button>
{% endif %}
{% if video %}

<button class="button meta-button" target="_blank" onclick="window.open('{{ video }}', '_blank')">
                        Open video in new tab
                    </button>
{% endif %}

<div class="container lesson-metadata-box">
  <div id="left-box">
  <div>
    {% if video %}
    {{ citation_information  | markdownify | safe }}
    {% endif %}
    
        </div>

    </div>

  
  <div id="right-box" 
    <div id="video_embed">
      {% if video_embed %}
      {{ video_embed | safe }}
      {% endif %}
    </div>
  </div>
</div>
  </div>


{{ content | safe }}
{% if text %}
  <embed style="margin-left: 10%;" src="{{ text }}" width="80%" height="600px" /> 
{% endif %}

{% if lesson_pdf %}
  <embed style="margin-left: 10%;" src="{{ lesson_pdf }}" width="80%" height="600px" /> 
{% endif %}
{% if transcript_pdf %}
  <embed style="margin-left: 10%;" src="{{ transcript_pdf }}" width="80%" height="600px" /> 
{% endif %}

{% block js %}
  <script>
    function openMedia() {
      var newWindow = window.open('{{ video }}', 'name', 'height=600,width=800');
      if (window.focus) {
        newWindow.focus();
      }
    }
  </script>
{% endblock %}