<header class="navbar container" data-pagefind-ignore>
    <a href="{{ "/" | locale_url }}"><img height="60" src="/assets/img/logo.svg" /></a>
    <div class="logo-items">
        <h1 class="logo-title">P R I M A</h1>
        <h3 class="logo-subtitle">{% if page.lang == 'it' %}Deposito pedagogico delle attività mediatiche italiane{% else%}
            Pedagogical Repository for Italian Media Activities{% endif %}</h3>
    </div>
    <ul class="main-nav">
        {% if page.lang == 'it' %}
        {% for item in it_navigation.items %}
        <li>
            <a href="{{ item.url | locale_url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
        {% endif %}

        {% if page.lang == 'en' %}
        {% for item in en_navigation.items %}
        <li>
            <a href="{{ item.url | locale_url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>

    {% if page.lang == 'it' %}
        <a href="/en"><img height="30" style="margin-right:10px" src="/assets/img/en.svg" /></a>
    {% else %}
        <a href="/it"><img height="30" style="margin-right:10px" src="/assets/img/it.svg" /></a>
    {% endif %}
            

        {# <div id="search"></div> #}

</header>
