<header class="navbar container" data-pagefind-ignore>
    <a href="{{ "/" | locale_url }}"><img height="60" src="/assets/img/logo.svg"/>
        <div class="logo-items">
            <h1 class="logo-title">P R I M A</h1>
            <h3 class="logo-subtitle">
            Pedagogical Repository for Italian Media Activities
            </h3>
        </a>
    </div>
    <ul class="main-nav">
        {% if page.lang == 'it' %}
        <div class="dropdown">
            <button class="dropbtn">Informazioni
            </button>
            <div class="dropdown-content">
                <a href="/it/circa">A proposito di Prima</a>
                <a href="/it/chi-siamo">Chi siamo</a>
                <a href="/it/accessibilita">Accessibilità</a>
                <a href="/it/termini">Termini di utilizzo</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/it/lezioni">Lezioni</a>
            
        </div>
        <div class="dropdown">
            <a href="/it/indice">Indice</a>
            
        </div>
        <div class="dropdown">
            <a href="/it/cerca">Cerca</a>
            
        </div>
            {% if 'lezioni' in page.url and page.fileSlug != 'lezioni' %}
                <a href="/en/lessons/{{ page.fileSlug }}"><img height="30" style="margin-right:10px" src="/assets/img/en.svg" /></a>
            {% else %}              
                <a href="/en/"><img height="30" style="margin-right:10px" src="/assets/img/en.svg" /></a>
            {% endif %}
        {% endif %}
        {% if page.lang == 'en' %}
        <div class="dropdown">
            <button class="dropbtn">About
            </button>
            <div class="dropdown-content">
                <a href="/en/about">About Prima</a>
                <a href="/en/team">Our Team</a>
                <a href="/en/accessibility">Accessibility</a>
                <a href="/en/terms">Terms of Use</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/en/lessons">Lessons</a>
            
        </div>
        <div class="dropdown">
            <a href="/en/index-page">Index</a>
            
        </div>
        <div class="dropdown">
            <a href="/en/search">Search</a>
            
        </div>
            {% if 'lessons' in page.url and page.fileSlug != 'lessons' %}
                <a href="/it/lezioni/{{ page.fileSlug }}"><img height="30" style="margin-right:10px" src="/assets/img/it.svg" /></a>
            {% else %}              
                <a href="/it/"><img height="30" style="margin-right:10px" src="/assets/img/it.svg" /></a>
            {% endif %}
        {% endif %}

    </ul>

</header>